body {
  background-color: #0a4c34;
}

.App {
  display: flex;

  align-items: center;
  flex-direction: column;

  height: 100em;
}

.game-container {

  padding: 20px
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.activity-box {
  border: black 1px solid;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin:20px
}

button {
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  border: none;
  outline: none;
}
.btn :hover {
  color: white;
  background-color: #04aa6d;
}

.card-img {
  padding: 10px;
  margin-top: 30px;
}
